<mat-toolbar class="private-layout__header">
  <nav class="private-layout__header__nav">
    <a mat-icon-button [routerLink]="['/', 'dashboard']">
      <mat-icon>home</mat-icon>
    </a>
  </nav>
  <div class="private-layout__header__actions">
    <app-theme-toggle />
    <app-lang-switcher />
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<main class="private-layout__body">
  <router-outlet />
</main>
<footer class="private-layout__footer">
  v{{ version }}
</footer>
