:host {
  display: contents;

  .profil {
    display: flex;
    flex-direction: column;
    gap: var(--lma-spacing-gap--xxl);
    margin-inline: auto;
    width: 100%;
    min-width: var(--lma-container-width--xxxs);
    max-width: var(--lma-container-width--md);

    &__section {
      display: flex;
      flex-direction: column;
      gap: var(--lma-spacing-gap--xxl);
    }
  }
}
