:host {
  display: contents;

  .profil {
    display: flex;
    flex-direction: column;
    gap: var(--lma-spacing-gap--xxl);
    margin-inline: auto;
    width: 100%;
    min-width: var(--lma-container-width--xxxs);
    max-width: var(--lma-container-width--md);

    &__section {
      display: flex;
      flex-direction: column;
      gap: var(--lma-spacing-gap--xxl);

      &__fields {
        display: flex;
        flex-direction: column;
        gap: var(--lma-spacing-gap--md);

        mat-form-field {
          width: 100%;
        }
      }

      &__actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--lma-spacing-gap--sm);
        flex-wrap: wrap;
      }

      &__success {
        color: var(--mat-sys-primary);
        font-size: var(--lma-font-size--md);
      }

      &__error {
        color: var(--mat-sys-error);
        font-size: var(--lma-font-size--md);
      }

      &__success-state {
        display: flex;
        flex-direction: column;
        gap: var(--lma-spacing-gap--md);
      }
    }
  }
}
