:root {
  --lma-container-width--xxs: 320px;
  --lma-container-width--xs: 480px;
  --lma-container-width--sm: 600px;
  --lma-container-width--md: 720px;
  --lma-container-width--lg: 840px;
  --lma-container-width--xl: 1080px;
  --lma-container-width--xxl: 1320px;
}
