:root {
  // GAP
  --lma-spacing-gap--xs: 3px;
  --lma-spacing-gap--sm: 6px;
  --lma-spacing-gap--md: 8px;
  --lma-spacing-gap--lg: 12px;
  --lma-spacing-gap--xl: 16px;
  --lma-spacing-gap--xxl: 24px;

  // MARGIN
  --lma-spacing-margin--xs: 3px;
  --lma-spacing-margin--sm: 6px;
  --lma-spacing-margin--md: 8px;
  --lma-spacing-margin--lg: 12px;
  --lma-spacing-margin--xl: 16px;
  --lma-spacing-margin--xxl: 24px;

  // PADDING
  --lma-spacing-padding--xs: 3px;
  --lma-spacing-padding--sm: 6px;
  --lma-spacing-padding--md: 8px;
  --lma-spacing-padding--lg: 12px;
  --lma-spacing-padding--xl: 16px;
  --lma-spacing-padding--xxl: 24px;
}
