:root {
  --lma-font-size--xs: 0.625rem;  // 10px
  --lma-font-size--sm: 0.75rem;   // 12px
  --lma-font-size--md: 0.875rem;  // 14px
  --lma-font-size--lg: 1rem;      // 16px
  --lma-font-size--xl: 1.125rem;  // 18px
  --lma-font-size--xxl: 1.25rem;  // 20px
  --lma-font-size--xxxl: 1.5rem;  // 24px
}
