<mat-card
  class="login-card"
  appearance="outlined"
>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <mat-card-header class="login-card__header">
      <mat-card-title class="login-card__header__title">
        <h2>Connexion</h2>
      </mat-card-title>
      <mat-card-subtitle>
        Renseignez vos information de connexion pour accéder à votre espace personnel
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="login-card__content">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
        />
        @if (form.controls['email']?.hasError('required')) {
          <mat-error>L'email est requis</mat-error>
        } @else if (form.controls['email']?.hasError('email')) {
          <mat-error>Email invalide</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="showPassword.set(!showPassword())"
        >
          <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.controls['password']?.hasError('required')) {
          <mat-error>Le mot de passe est requis</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="login-card__actions">
      <button
        class="login-card__actions__item"
        matButton="filled"
        type="submit"
      >
        Se connecter
      </button>
      <a
        class="login-card__actions__item"
        matButton
        [routerLink]="['/', 'auth', 'register']"
        >Pas encore inscrit... Créer un compte</a
      >
      <a
        class="login-card__actions__item"
        matButton
        [routerLink]="['/', 'auth', 'forgot-password']"
      >
        Mot de passe oublié
      </a>
    </mat-card-actions>
  </form>
</mat-card>
